In [1]:
import os
while not os.path.isfile('config.yaml'):
    os.chdir("../")
from backtest import combined_backtest
import strategies as strategies

combined_backtest(strategies.martin_4, tp=0.02, sl=0.01, timeframe="15", limit=1000, window_size=200, n_processes=10, history=False)

100%|██████████| 80/80 [01:43<00:00,  1.29s/it]

The indicator martin_4 was tested on 63920 scenarios. n_trades = 2936      Trade-rate = 0.04593241551939925      Win-rate = 0.23399182561307902

# testing whatever

In [1]:
import os
while not os.path.isfile('config.yaml'):
    os.chdir("../")
import pandas as pd
import yaml

with open('config.yaml', 'r') as f:
    config = yaml.safe_load(f)

from api.api import Api
api = Api.create_api(config)

In [2]:
data = api.klines("DOGEUSDT")

In [3]:
data

,Open,High,Low,Close,Volume,Turnover
Time,,,,,,
2024-04-25 04:44:46.464,0.15047,0.15097,0.15039,0.15091,6817878.0,1.028015e+06
2024-04-25 05:00:03.968,0.15091,0.15096,0.14989,0.15036,10204012.0,1.534580e+06
2024-04-25 05:15:21.472,0.15036,0.15066,0.15002,0.15056,7802735.0,1.173617e+06
2024-04-25 05:30:38.976,0.15056,0.15158,0.15055,0.15152,7655364.0,1.157227e+06
2024-04-25 05:45:56.480,0.15152,0.15174,0.15106,0.15112,6778114.0,1.026581e+06
...,...,...,...,...,...,...
2024-05-05 13:14:12.864,0.15990,0.16171,0.15989,0.16064,63541595.0,1.022834e+07
2024-05-05 13:29:30.368,0.16064,0.16140,0.15956,0.16125,40497083.0,6.504124e+06
2024-05-05 13:44:47.872,0.16125,0.16125,0.16037,0.16064,17675398.0,2.840029e+06
2024-05-05 14:00:05.376,0.16064,0.16065,0.15982,0.16015,19540205.0,3.129295e+06
2024-05-05 14:15:22.880,0.16015,0.16055,0.15992,0.16008,8490571.0,1.360233e+06